/*body{
  color: white;
  font-family: sans-serif;
  padding: 10px;
  margin: 10px;
  background-color: #1b2127;;

}

h1 strong{
  color: blue;
 
}
header{
  

}
.title{
  color:white;

}

.hero{
  display: flex;
  font-size: 25px;
  /*border: 5px solid red;
  padding: 10px;
  background-color: #1b2127;
  
}

.pasatiempos{
  padding: 10px;
  border: 5px solid blue;
  margin: 10px 0px;
  display: flex;
  text-align: center;
  width: 300;
  height: 330;
  
}


.estudio{
  border: 1px solid black;
}
.video{
  display: block;
}

.mentor{
  padding:10px; 
  border: 5px solid green;
  margin: 10px 0;
}

.opinion{
  border:3px solid; 
}*/

body {
  font-family: "source sans pro", sans-serif;
  margin: 0px;
  padding: 15px;
  width: 1024px;
  
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla one", sans-serif;
  font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
}

h1 {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: ;
  margin: 0px;
}

h1 strong {
  color: blue;
}

h2 {
  color: blue;
  text-transform: uppercase;
  font-family: "source sans pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.name{
  color: Turquoise;
  background-color: cornflowerblue;
  margin: 1em 0 1em 0;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  
}
.hero{
  height: 400px;
  background-position-x: right;
  background-color:;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.hero-image {
  margin-left: 15px;
  /*border: 1px solid black;*/
  
}

.hobbies{
  background-color: ;
  color: ;
  font-size: 20px;
}
.menu {
  border: 1px solid red;
  display: block;

}

.flexbox{
  display: flex;

}

.box{
  
  width: 300px;
  height: 35px;
  padding-right: 33px;
  text-align: center;
  justify-content: center;
  margin: 1em 0 1em 0;
  color: white;
  background-color:#1b2127;
  font-size: 20px;
}

.head{
  flex: 1;
  margin: 0 auto;
  display: flex;
  align-items: inherit;
  height: inherit;
 
}

.container1{
  display: block;
  padding: 10px;
 
}

.studies{
  display: flex;
  width: 1000px;
  border: 1px solid;
  border-radius: 1em;
  padding: 10px;
  margin: 10px 0; 
}

.hobbies-details{
 2
}

.video{

}

.footer{
  background-color: gray;
  color:white ;
  text-align: center;
  justify-content: center;
  margin: 1em 0 1em 0;
  font-size: 25px;

}